<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            NuGet BepInEx
        </NavLink>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavMenuCssClass">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li>
                    <a class="nav-link" href="https://github.com/BepInEx/BepInEx.NuGetUpload.Service/wiki">Usage guide</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool showMainMenu = false;

    private string NavMenuCssClass => showMainMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        showMainMenu = !showMainMenu;
    }
}